/*
/////////////////////////////////////////////////////////////////////////////// 
 header 
/////////////////////////////////////////////////////////////////////////////// 
*/
.logo {
	vertical-align: text-top;
}
body {
	background-color: yellow;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

nav-main {
	text-align: center;

	padding: 0;
	background-color: red;
	height: 50px;
	width: 100%;
}

.nav-main ul {
	display: inline-block;
}

.header {
	/* position: fixed; */
	text-align: center;
	padding: 0;
	top: 0;
	/* because we want the header tyo be sticky later on*/
	height: 9.6rem;
	padding: 0 4.8rem;

	/* position: relative; */
}
.nav-main-list {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	color: white;
	background-color: blue;
	display: inline-block;
	justify-content: center;
	display: flex;
	gap: 55px;
}
.main-nav-link {
	color: white;
	text-align: center;
}

.bible-col1-18 {
	margin-top: 0;
}
/*
/////////////////////////////////////////////////////////////////////////////// 
SECTION 1
/////////////////////////////////////////////////////////////////////////////// 
*/

.section1-first {
	height: 400px;
	background-color: green;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.section1-second {
	height: 400px;
	background-color: purple;
}
