* {
	margin: 0;
	padding: 0;
	margin: 0;
}

@media (max-width: 59em) {
	html {
		font-size: 50%;
	}
	.btn-mobile-nav {
		display: block;
	}
}
/*
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.main-nav-link {
	color: white;
}
.main-nav-list {
	justify-content: center;
	list-style: none;
	display: flex;
	gap: 1.8rem;
	background-color: red;
}
.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}

.icon-mobile-nav {
	height: 4.8rem;
	width: 4.8rem;
	color: #333;
}

.icon-mobile-nav[name="close-outline"] {
	display: none;
}
*/
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.main-nav-list {
	justify-content: center;
	/*justify-content: center;*/
	list-style: none;
	display: flex;
	gap: 1.8rem;
	background-color: red;
}
.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}
.icon-mobile-nav {
	height: 1.2rem;
	width: 1.2rem;
	color: #333;
}
.icon-mobile-nav[name="close-outline"] {
	display: none;
}
